[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
pre-commit = "*"

[packages]
faust = "*"
peony-twitter = "*"

[requires]
python_version = "3.7"
